streamlit>=1.39.0
transformers>=4.45.2
google-generativeai>=0.8.3
tensorflow>=2.17.0
torch>=2.4.1
tf_keras==2.17.0
pandas>=2.2.3
numpy>=1.26.4
matplotlib>=3.9.2
scikit-learn>=1.5.2
scipy>=1.14.1
plotly>=5.24.1
wordcloud>=1.9.3
requests>=2.32.3
fpdf2>=2.8.1
reportlab>=4.2.5
opencv-python-headless~=4.10.0.84
pillow~=10.4.0
mtcnn>=1.0.0
google-api-core>=2.20.0
google-api-python-client>=2.148.0
google-auth>=2.35.0
google-auth-httplib2>=0.2.0
google-crc32c>=1.6.0
googleapis-common-protos>=1.65.0
huggingface-hub>=0.25.1
keras>=3.6.0
packaging>=24.1
safetensors>=0.4.5
streamlit-webrtc>=0.47.9
tokenizers>=0.20.0
tqdm>=4.66.5
