streamlit>=1.39.0
tensorflow>=2.17.0
torch>=2.4.1
tf_keras==2.17.0
pandas>=2.2.3
numpy>=1.26.4
matplotlib>=3.9.2
scikit-learn>=1.5.2
plotly>=5.24.1
requests>=2.32.3
opencv-python-headless~=4.10.0.84
pillow~=10.4.0
mtcnn>=1.0.0

